@model IEnumerable<SportsStore.Models.Domain.Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>
<a asp-controller="Product" asp-action="Create" class="btn btn-default">New Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>In Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody  class="table-striped">
        @foreach (var product in Model) {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td><input asp-for="@product.InStock" disabled /></td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

